
body{
    background-color: darkslategray;
    color:snow;
    font-family: calibri;
    font-size: 20px;
}
h1{
    text-align: center;
    color: cornsilk;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    color:crimson
}
#nn{
    color:crimson;
    font-size: 17px;
}
#navs{
    background-color: cornsilk;
    
}
#navs > li{
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: darkslategray;
   
}
#navs > li>a:hover{
    text-decoration: none;
    color:teal;
}
