{% extends 'base.html'%}
<!-- Content block -->
{% block content %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% for article in article %}
<div class="col-md-3 articles-details">

    <img src='{{article.imageUrl}}' alt="IMAGE LOADING..." class="img-responsive" height="250">

    <div class="words">
        <h4 class="text-bold"> {{article.title}} </h4>
        <p class="small"> published on: {{article.publishedAt}} </p>
        <p class="small"> Author: {{article.author}} </p>
        <!-- <p class="small">Posted on {{article.publishedAt}}</p> -->
        <hr>
        <p> {{article.description}}...
            <a id="nn" href={{article.url}} target="_blank">Read More</a>
        </p>
    </div>
</div>
{% endfor %}
{% endblock %}